<div id="<%= dom_id group %>">
  <p>
    <strong>Author:</strong>
    <%= group.author_id %>
  </p>

  <p>
    <strong>Group title:</strong>
    <%= group.group_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= group.description %>
  </p>

</div>
