<div id="<%= dom_id problem_group %>">
  <p>
    <strong>Group:</strong>
    <%= problem_group.group_id %>
  </p>

  <p>
    <strong>Problem:</strong>
    <%= problem_group.problem_id %>
  </p>

</div>
