<h1>Editing problem group</h1>

<%= render "form", problem_group: @problem_group %>

<br>

<div>
  <%= link_to "Show this problem group", @problem_group %> |
  <%= link_to "Back to problem groups", problem_groups_path %>
</div>
