<h1>Editing student group</h1>

<%= render "form", student_group: @student_group %>

<br>

<div>
  <%= link_to "Show this student group", @student_group %> |
  <%= link_to "Back to student groups", student_groups_path %>
</div>
